.btn {
  display: inline-flex;
  margin: .5rem;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  border: thin solid rgba(0, 0, 0, .2);
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}
.btn:hover {
  transition: all 75ms ease-in-out;
  background: rgba(0, 0, 0, .03);
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  text-decoration: none;
}
.btn:active {
  background: rgba(0, 0, 0, .06);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  text-decoration: none;
}

.list-item:first-child {
  margin-left: 0;
}

.list {
  list-style: none;
  padding-left: 0;
}

.list-item {
  display: inline-flex;
}